.rooms
  float left
  width: 50%

  &-title
    index-title()

  &-list
    drop-list()

    &__item, &__add-room
      margin: 5px 0

      &-link
        link-like-element()

    &__add-room
      &-label
        display block