.users
  float left
  width 50%

  &-title
    index-title()

  &-list
    drop-list()

    &__user, &__current-user
      margin: 5px 0

    &__current-user
      font-weight bold

    &__edit-name
      link-like-element()