//
   Created by timirlan on 28.06.15.
.users
    h2.users-title Users
    ul.users-list(ng-controller='UsersListCtrl')
        li.users-list__current-user(ng-controller='CurrentUserCtrl')
            span(ng-hide='editUsername')
                span.users-list__current-user-name(ng-bind='users.current.name')
                span.users-list__space &nbsp;
                span.users-list__edit-name(ng-click='editUsername = !editUsername') edit
            span(ng-show='editUsername')
                input(ng-model='newName')
                button(ng-click='setCurrentUserName()',ng-if='newName') OK
            //    input(id='new-name', ng-model='newName')
            //    button(ng-click='setCurrentUserName()', ng-if='newName') Change
        li.users-list__user(ng-repeat='user in users.others.collection')
            span.users-list__user-name(ng-bind='user.name')
    //    li.users-list__debug DEBUG:
    //        pre(ng-bind='users.others._idx|json:2')
.rooms
    h2.rooms-title Rooms
    ul.rooms-list(ng-controller='RoomsListCtrl')
        li.rooms-list__item(ng-repeat='room in rooms.all.collection')
            a.rooms-list__item-link(ng-bind='room.name',ui-sref='room({roomId:room.id})')
        li.rooms-list__add-room
            label.rooms-list__add-room-label New room
            input.rooms-list__add-room-name(ng-model='newRoomName')
            button.rooms-list__add-room-confirm(ng-click='createRoom()', ng-if='newRoomName') +
        //li.rooms-list__debug DEBUG:
        //    pre(ng-bind='rooms.all.collection|json')
