html
    head
        if DEBUG
            title Node chat DEBUG
        else
            title Node chat
    body
        main(ui-view='')
    if DEBUG
        script(type='text/javascript',src='/lib/requirejs/require.js',data-main="/assets/config")

    //Index view template
    script(type='text/ng-template', id='/tpls/index.html')
        h2 Users
        ul.users-list(ng-controller='UsersListCtrl')
            li.users-list__current-user(ng-controller='CurrentUserCtrl')
                span(ng-hide='editUsername')
                    span.users-list__current-user-name(ng-bind='users.current.name')
                    span.users-list__edit-name(ng-click='editUsername = !editUsername') &nbsp;edit
                span(ng-show='editUsername')
                    input(ng-model='newName')
                    button(ng-click='setCurrentUserName()',ng-if='newName') OK
                //    input(id='new-name', ng-model='newName')
                //    button(ng-click='setCurrentUserName()', ng-if='newName') Change
            li.users-list__user(ng-repeat='user in users.others.collection')
                span.users-list__user-name(ng-bind='user.name')
        //    li.users-list__debug DEBUG:
        //        pre(ng-bind='users.others._idx|json:2')
        h2 Rooms
        ul.rooms-list(ng-controller='RoomsListCtrl')
            li.rooms-list__item(ng-repeat='room in rooms.all.collection')
                a(ng-bind='room.name',ui-sref='room({roomId:room.id})')
            li.rooms-list__add-room
                input(ng-model='newRoomName')
                button(ng-click='createRoom()', ng-if='newRoomName') +
            //li.rooms-list__debug DEBUG:
            //    pre(ng-bind='rooms.all.collection|json')

    // Message view template
    script(type='text/ng-template', id='/tpls/room.html')
        h2.room__title(ng-bind='room.name')
        ul.room__users-list
            li.room__users-list-item(ng-repeat='user in users.collection')
                span.room__users-list-item-name(ng-bind='user.name')
        //.room__debug(ng-bind='room|json')
        .room__messages
            .room__message(ng-repeat='message in messages')
                p.room__message-author(ng-bind='username(message)')
                p.room__message-text(ng-bind='message.body')
        .room__mesage-form
            textarea.room__message-form-texarea(ng-model='messageText')
            button(ng-click='sendMessage(messageText)') Send
