html
    head
        if DEBUG
            title Node chat DEBUG
        else
            title Node chat
        link(rel='stylesheet',type='text/css',href='/build/styles/index.css')
    body
        main(ui-view='')
    if DEBUG
        script(type='text/javascript',src='/lib/requirejs/require.js',data-main="/assets/scripts/config")
    else
        script(type='text/javascript',src='/build/scripts/main.js')

    //Index view template
    script(type='text/ng-template', id='/tpls/index.html')
        include includes/ng-templates/ui-views/index

    // Message view template
    script(type='text/ng-template', id='/tpls/room.html')
        include includes/ng-templates/ui-views/room
