html
    head
        if DEBUG
            title Node chat DEBUG
        else
            title Node chat
    body
        main
    if DEBUG
        script(type='text/javascript',src='/lib/requirejs/require.js',data-main="/assets/config")